/*--------------------------------------------*/
/* BASIC SETUP */
/*--------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font font-weight: 300;
    font-size: 20px;
}

/*--------------------------------------------*/
/* REUSABLE COMPONENT S*/
/*--------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1%;
}

/*headings*/
h1 {
    font-weight: lighter;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #289307;
    content: " ";
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}

/*buttons*/
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #289307;
    border: 1px solid #289307;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #289307;
    color: #289307;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #25720d;
    cursor: pointer;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
    border: 1px solid #25720d;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #25720d;
    color: #fff;
}

/*--------------------------------------------*/
/* HEADER */
/*--------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/background.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.main-text {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    border-radius: 50%;
}

/*main nav*/
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #289307;
}

/*--------------------------------------------*/
/* ABOUT SECTION */
/*--------------------------------------------*/

.section-about {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f4eaea;
}

.about-text {
    margin-bottom: 25px;
}

/*--------------------------------------------*/
/* PRODUCTS SECTION */
/*--------------------------------------------*/
.section-products {
    padding-top: 50px;
}

.section-products div img {
    height: 300px;
    width: 300px;
    border-radius: 5%;
    border: 2px solid;

}

/*--------------------------------------------*/
/* CUSTOMERS SECTION */
/*--------------------------------------------*/

.section-customers {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/customers-background.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    padding-top: 50px;
}

.literally {
    font-size: 50%;
    text-transform: none;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

blockquote:after {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    bottom: 40px;
    right: 75px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/*--------------------------------------------*/
/* CONTACT SECTION */
/*--------------------------------------------*/

.section-contact {
    padding-top: 50px;
    padding-bottom: 50px
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

.contact-form {
    color: white;
    background-color: #76d15a;
    padding: 30px 10px 30px 10px;
    border-radius: 5%;

}

.section-contact h3 {
    padding-bottom: 20px;
}

.contact-form label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.contact-form input[type=submit] {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 40%
}

.hours {
    display: block;
    float: right;
    vertical-align: center;
}

.section-contact ion-icon {
    font-size: 250%;
    float: right;
    color: #289307;
}

.contact-box {
    padding-bottom: 35px;
}

/*--------------------------------------------*/
/* FOOTER */
/*--------------------------------------------*/

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}



footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

.fb:hover {
    color: #3b5998;
}

.tw:hover {
    color: #00aced;
}

.in:hover {
    color: #517fa4;
}

.sc:hover {
    color: #FFFC00;
}
